<!-- views/auth/signup.ejs -->
<h2>Create User</h2>

<form action="/create-user" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Jon">
  <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="familyName">FamilyName</label>
  <input id="familyName" type="text" name="familyName" placeholder="Snow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <label for="role">Role</label>
  <input id="role" type="text" name="role" placeholder="TA">
  <br><br>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    <a href="/">Home</a>
  </p>

  <p class="account-message">
    <a href="/logout">Logout</a>
  </p>
</form>
