<ul>
  <%if(typeof(users)!=='undefined'){%>
    <% users.forEach((user)=>{%>
      <%if(user.role!=='Boss'){%>
        <li><p><%=user.username%> |<a href="/<%=user._id%>/delete">Delete</a></p></li>
      <%}%>
    <%})%>
  <%}%>
</ul>
